body {
	background: rgba(255, 255, 255, 0.8);
	font-family: 'Oswald', 'Futura', sans-serif;
}
#wrapper {
	margin-top: 15% !important;
}                               
#content {
	background: hsla(0, 0%, 32%, 0.183);
	padding: 25px;
    border-radius: 10px;
    
}
#content > h2 {
	font-size: 18px;
	text-align: center;
	padding-top: 0;
}
.t10 {
	margin-top: 10px;
}
.t20 {
	margin-top: 20px;
}
.todo-completed {
	text-decoration: line-through;
	background: rgba(104, 76, 103, 0.3);
}
footer {
	margin-top: 20px;
	color: rgb(0, 0, 0);
}
.list-group-item {
	color: black;
}